@import url(styles.css);

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:  #f7f9fa;
}

/* div {
    display: block;

} */

.cinema-header {
    background-color: #f7f9fa;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}
.logo_img{
    width: 150px;
    height: 50px;
}
.searchbar_img{
    width: 150px;
    height: 50px;
}
.options{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: flex-end;
}
.sign_in{
    display: flex;
    gap: 10px;
}
.avatar{
    width: 18px;
}
.cinema-nav {
    background-color: #000000;
    /* width: 100%; */
}
.primary-nav{
    display: flex;
    width: 65%;
}
.primary-nav li{
    width: 25%;
    text-align: center;
    text-transform: uppercase;
}
.primary-nav li a{
    display: block;
    color: #f7f9fa;
    font-size: 15px;
    font-weight: bold;
    border-right: solid 1px #f7f9fa;
}
.primary-nav li:last-of-type a{
    border-right: none;
}
.primary-nav li a:hover{
    color:green;
}
.register-content{
    padding: 42px 0 18px;

}

.contents-page{
    width: 1140px;
    margin: 0 auto;

}

.title{
    padding: 25px 0 30px;
    width: 100%;
    background-color: grey;

}
.register-group .register-right {
    width: 520pt;
    float: left;
}

.register-right .note-error {
    margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.infor-loggin_register{
    margin-bottom: 20px;
    box-sizing: border-box;

}
.footer {
    /* display: block; */
    position: relative;
    color: #f7f9fa;
    padding: 7rem 0;
    background-color: #141d2a;

}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer .cta {
    box-shadow: -20px -20px 0 0 rgba(52,58,64,0.2);
    padding: 20px;
    background-color: #8186d5;
    width: 50%;
    align-items: center;
    top: -150px;
    position: relative;
}
.pl-5, .px-5 {
    padding-left: 3rem!important;
}
.pr-5, .px-5 {
    padding-right: 3rem!important;
}
.align-items-center {
    align-items: center!important;
}
h2 {
    display: block;
    font-size: 1.5em;
    color: white;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
}
h3 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 0;
}
.ml-auto {
    margin-left: auto!important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    background-color: transparent;
}
.btn-dark:hover {
    color: white;
    background-color: #23272b;
    border-color: #1d2124;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15;
    margin-left: -15;
}
.col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
