/* @import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css'); */
@import url('https://fonts.cdnfonts.com/css/tiempos-headline');
@import url('https://fonts.cdnfonts.com/css/graphik');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
}

.body {
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 50px;
}

.logo {
    display: flex;
}

.logo_img {
    height: 35px;
    width:300px;
}


/* ref https://nikitahl.com/search-icon-inside-input */
.search {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

/* ref https://nikitahl.com/search-icon-inside-input */

.options {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: flex-end;
}

.sign_in {
    display: flex;
    gap: 10px;
    color: #000;
}

.sign_in:hover,
.sign_in:focus {
    color: #0275d8;
}

/* filter color calculator https://codepen.io/sosuke/pen/Pjoqqp */
.sign_in:hover .avatar,
.sign_in:focus .avatar {
    filter: invert(18%) sepia(61%) saturate(4936%) hue-rotate(106deg) brightness(101%) contrast(106%);
}

.avatar {
    width: 18px;
}

.header {
    background-color: #f7f9fa;
}

.main-nav {
    background-color: #000;
}

.primary-nav {
    display: flex;
    width: 65%;
}

.primary-nav li {
    width: 33%;
    text-align: center;
}

.primary-nav li a {
    display: block;
    color: #f7f9fa;
    font-size: 1.2rem;
    font-weight: bold;
    border-right: solid 1px #f7f9fa;
}

.primary-nav li:last-of-type a {
    border-right: none;
}

.primary-nav li a:hover {
    color: #0275d8;
}

/* https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
.mobile-nav {
    overflow: hidden;
    background-color: #000;
    position: relative;
    display: none;
    width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.mobile-nav #mobileNav {
    display: none;
}

/* Style navigation menu links */
.mobile-nav a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.mobile-nav a img {
    padding-left: 17vw;
    height: 30px;
}

/* Style the hamburger menu */
.mobile-nav a.mobile-nav-icon {
    background: #000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 61px;
    width: 61px;
}


/* Add a grey background color on mouse-over */
.mobile-nav a:hover {
    background-color: #0275d8;
    color: black;
}

/* Style the active link (or home/logo) */
.mobile-nav-active {
    background-color: #f7f9fa;
    color: #000;
}

/* ref w3school */

/* Style the list */
.tab-breadcrumb-line {
    justify-content: left;
    padding-left: 10vw;

}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
}

/* banner */
.slider {
    width: 100%;
    position: relative;
}

.slide-img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    aspect-ratio: 16/9;
}

.slide-prev,
.slide-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slide-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slide-prev:hover,
.slide-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slide-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slide-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slide-active,
.slide-dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.mySlides {
    display: none
}

/* movies tab  */
.main-movies {
    padding: 10px 0;
}

.main-movies-line {
    justify-content: left;
    padding-left: 10vw;
    padding-bottom: 30px;
}

.main-movies-nav {
    display: flex;
    gap: 80px;
}

.main-movies-nav li {
    padding: 10px 0;
}

.main-movies-nav li>a {
    text-transform: uppercase;
    color: #a0a3a7;
    font-size: calc(12px + 0.5vw);
    font-weight: 700;
}

#showing,
#coming {
    cursor: pointer;
}

.content-active {
    border-bottom: 3px solid #0275d8;
    
    color: #000 !important;
}

.main-movies-nav a.content-active:after {
    display: none;
}

/* line animation https://codepen.io/anon/pen/emNjGo */
.main-movies-nav a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2.5px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.main-movies-nav a:hover:after {
    width: 100%;
    background: #0275d8;
}

.main-movies-pane {
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    width: 80%;
}

.hide {
    display: none;
}

.main-movie-item {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    margin-bottom: 20px;
    max-width: 564.58px;
}

.main-poster {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.main-movie-title p {
    padding-top: 10px;
    font-family: 'TiemposHeadlineWeb-Bold', Georgia, serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
}

/* fadeInUp animation https://codepen.io/themechills/pen/dMamgG */
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.register-title {
    display: flex;
    padding: 10px;
}

.title-container {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;

}

.register-form {
    display: flex;
    padding: 10px;
}

.register-container {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
}

.register p {
    margin: auto;
    font-size: 500%;
    ;
    font-weight: bold;
}

/* footer */
.footer {
    display: block;
    position: relative;
    color: #f7f9fa;
    background-color: #141d2a;
}

.footer-mobile {
    display: none;
    position: relative;
    color: #f7f9fa;
    background-color: #141d2a;
}

.footer-content {
    width: 100vw;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 50px;
}

.hanger {
    display: flex;
    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    padding: 10px calc(8px + 1.5625vw);
    background-color: #8186d5;
    align-items: center;
    top: -30px;
    position: relative;
    width: 62vw;
    max-width: 650px;
    margin: auto;
    gap: 10px;
}

.hanger h2 {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    line-height: 1.5;
}

.hanger h3 {
    line-height: 1.8;
    margin-top: 0;
}

.footer-nav {
    display: flex;
    width: 65vw;
    justify-content: space-between;
    gap: 10px;
}

.footer-mobile-logo {
    padding-bottom: 20px;
    margin-right: 100px;
}

.footer-logo img {
    height: 50px;
    filter: invert(84%) sepia(100%) saturate(1%) hue-rotate(88deg) brightness(105%) contrast(101%);
}

.footer-nav h3 {
    font-size: 1.4rem;
}

.social {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    gap: 10px;
}

.social i {
    color: #fff;
}

.footer-vertical {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    gap: 10px;
}

.footer-vertical-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.footer-vertical-nav h3 {
    font-size: 1.4rem;
}

.btn-right {
    margin-left: auto;
}

.row {
    display: flex;
    align-items: center;
}

.contact-form-content {
    padding: 15px 0;
    min-height: 70vh;
}

.contact-form-pane {
    height: auto;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
    width: 100vw;
    align-items: unset;
}

.contact-form-col {
    flex-basis: 37%;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.contact-form-group {
    margin-bottom: 1rem;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-form-name {
    width: 50%;
}


*::after {
    box-sizing: border-box;
}

.form-control {
    border: 0;
    background: #f3f3f3;
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}

textarea.form-control {
    height: auto;
}

.img-form {
    width: 30vw;
    min-width: 350px;
}

.heading {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.contact-form-col p {
    margin-bottom: 1rem;
    line-height: 2.0;
}

.form-control:active,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #000;
    background: #f3f3f3;
}

.col-form-label {
    color: #000;
}

.btn,
.form-control {
    height: 50px;
}

.btn {
    border: 3px solid #000;
    border-radius: 10px;
}

.btn.btn-primary {
    background: #000;
    color: #fff;
    padding: 15px 20px;
}

.btn:hover {
    background: #3e3f41;
    color: #ddd;
    font-weight: bold;
    border: 3px solid #3e3f41;
}


#msgError,#passError1,#passError2, #termError {
    padding-top: 15px;
    display: none;
    font-size: 0.8em;
    color: red;
}

#msgError.visible,#passError1.visible,#passError2.visible,#termError.visible {
    display: block;
}

/* change css when validating */

.invalid {
    border: 1px solid red;
    background: url("../img/icons8-cancel.svg") no-repeat 95% 50%;
    background-size: 5%;
}

.contact-form-name .invalid {
    background-size: 10%;
}

input:focus:invalid {
    background: none;
}

/* change css when validating */

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
    visibility: hidden;
}

#form-register-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold;
    visibility: hidden;
}

/*movies review*/

.review-movie-pane {
    display: flex;
    justify-content: left;
    padding-left: 10vw;
    align-items: unset;
    padding-top: 30px;
    padding-bottom: 30px;
}

.review-movie-img {
    width: 281.79px;
    border-radius: 10px;
    object-fit: cover;
}

.review-picture {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 422.68px;
}

.playbtn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding-left: 22px;
    padding-top: 14px;
}

.playbtn-overlay:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* https://www.w3schools.com/howto/howto_js_curtain_menu.asp */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 10%;
    left: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn-overlay {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* https://embedresponsively.com/ */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

.trailer-p {
    font-weight: 700;
}

.movie-desc {
    padding: 0px 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.name h3 {
    font-size: calc(30px + 0.5vw);
    font-family: 'TiemposHeadlineWeb-Bold', Georgia, serif;
}

.rating {
    background-color: #000;
    color: #fff;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.rating p {
    font-weight: 700;
    font-size: 1.5rem;
}

.attribute {
    display: flex;
    align-items: center;
    gap: 80px;
    padding-bottom: 30px;
    font-family: 'Graphik-Regular', 'Roboto', sans-serif;
    font-size: calc(12px + 0.5vw);
}

.attribute .time-icon {
    width: 16px;
}

.attribute div {
    font-family: 'Graphik-Regular', sans-serif;
}

.desc {
    width: 40vw;
    margin-bottom: 20px;
    line-height: 2.0;
}

.desc p {
    padding-bottom: 10px;
}

#readMoreBtn {
    padding: 10px;
    height: 40px;
}

#more {
    display: none;
}

/* mobile */
@media only screen and (max-width: 800px) {
    .mobile-nav {
        display: block;
    }

    .header,
    .main-nav {
        display: none;
    }

    .search-mobile {
        color: #555;
        display: flex;
        padding: 7px 8px;
        background-color: #f7f9fa;
    }

    input[type="search-mobile"] {
        border: none;
        background: #f7f9fa;
        margin: 0;
        padding: 7px 8px;
        font-size: 14px;
        color: inherit;
        width: 100%;
    }

    input[type="search-mobile"]::placeholder {
        color: #555;
        font-weight: bold;
        font-size: 15px;
    }

    button[type="submit-mobile"] {
        text-indent: -999px;
        overflow: hidden;
        width: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
    }

    button[type="submit-mobile"]:hover {
        opacity: 1;
    }

    button[type="submit-mobile"]:focus,
    input[type="search-mobile"]:focus {
        box-shadow: 0 0 3px 0 #1183d6;
        border-color: #1183d6;
        outline: none;
    }

    .main-movie-item {
        flex-basis: 100%;
    }

    .main-movies-nav {
        width: 100%;
    }

    .slide-img {
        height: 52vw;
    }

    .contact-form-pane {
        padding: 0px 40px;
    }

    .contact-form-col {
        flex-basis: 100%;
    }

    .img-form {
        display: none;
    }

    .invalid {
        background-size: unset;
    }

    .review-movie-pane {
        padding-left: 0px;
    }

    .movie-desc {
        padding-right: 10px;
    }

    .name h3 {
        font-size: 1.6rem;
    }

    .rating p {
        font-size: 12px;
    }

    .attribute {
        gap: 50px;
        font-size: 13px;
    }

    .attribute .time-icon {
        width: 12px;
    }

    .desc {
        width: 100%;
        line-height: 1.8;
    }

    .footer {
        display: none;
    }

    .footer-mobile {
        display: block;
    }

    .footer-content {
        width: unset;
        padding-bottom: 15px;
    }

    .footer-nav h3 {
        font-size: 1.2rem;
    }

    .hanger {
        padding: 10px 30px;
        width: unset;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn-overlay {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}