*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  #f7f9fa;
    /* color: white; */
    font-family: sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.cinema-header {
    background-color: #f7f9fa;
    width: 100%;
    /* position: fixed; */
    top: 0;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 90%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}
.cinema-nav {
    background-color: #000000;
    display: flex;
    /* position: fixed; */
    top: 0;
    width: 100%;
    justify-content: center;
}
.logo_img{
    width: 150px;
}
.searchbar_img{
    width: 150px;
    height: 75px;
}
.logo h2{
    text-transform: lowercase;
}

.primary-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
nav {
    width: 60%;
}
nav li{
    width: 25%;
    text-align: center;
}
nav a{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.links ul{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.star{
    width: 15px;
}
.options{
    display: flex;
    height: 75px;
    align-items: center; 
}
.options p {
    color: #000000;
}
.sign_in{
    display: flex;
    width: 90px;
    gap: 10px;
}
.avatar{
    width: 18px;
}
.shopping_cart{
    width: 18px;
}


.container::before, .container::after {
    display: table;
    content: " ";
}