@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

body{
    background-color:  #f7f9fa;
}
/* .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
} */
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}
.logo_img{
    width: 150px;
    height: 50px;
}
/* ref https://nikitahl.com/search-icon-inside-input */
.search {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
}
input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }

  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }

  button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
/* ref https://nikitahl.com/search-icon-inside-input */

.options{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: flex-end;
}
.sign_in{
    display: flex;
    gap: 10px;
}
.avatar{
    width: 18px;
}
.cinema-nav {
    background-color: #000000;
    /* width: 100%; */
}
.primary-nav{
    display: flex;
    width: 65%;
}
.primary-nav li{
    width: 25%;
    text-align: center;
    text-transform: uppercase;
}
.primary-nav li a{
    display: block;
    color: #f7f9fa;
    font-size: 15px;
    font-weight: bold;
    border-right: solid 1px #f7f9fa;
}
.primary-nav li:last-of-type a{
    border-right: none;
}
.primary-nav li a:hover{
    color:green;
}

/* Style the list */
.tab-breadcrumb-line {
    justify-content: left;
    padding-left: 10vw;

}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    /* background-color: #f7f9fa; */
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

/* banner */
.slider {
    display: flex;
    width: 100%;
    height: 17vh;
    min-height: 373px;
    background-image: url(../img/template-banner.jpg);
    align-items: center;
}
.slider p{   
    margin: auto;
    font-size: 500%;;
    font-weight: bold;
}

/* movies tab  */
.tab-movies-line {
    justify-content: left;
    padding-left: 10vw;
}
.tab-movies-nav {
    display: flex;
    width: 45%;
    border-bottom: 1px solid #ddd;
}
.tab-movies-nav li {
    width: 150px;
    margin-right: 15px;
    padding: 10px 0;
}
.tab-movies-nav li > a {
    text-transform: uppercase;
}
.tab-movies-content {
    padding: 15px 0;
}
.tab-pane {
    height: auto;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    width: 80%;
}
.movie-item {
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    margin-bottom: 20px;
}

.poster {
    width: 100%;
    height: auto;
}
#coming {
    display: none;
}

.register-title {
    display: flex;
    /* background-color: white; */
    padding: 10px;
}
.title-container{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;

}
.register-form {
    display: flex;
    /* background-color: white; */
    padding: 10px;
}
.register-container {
    display: flex;
    flex-direction: row;
    background-color:lightgray;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
}
.register p{   
    margin: auto;
    font-size: 500%;;
    font-weight: bold;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    align-items:start;
    background-color: black;
    color: white;
    padding: 20px;
    order: 99;
  }
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-contact {
    display: flex;
    align-items: center;
  }
  
  .footer-social {
    display: flex;
    align-items: center;
  }
/* .container::before, .container::after, .row::before, .row::after, .column::before, .column::after {
    display: table;
    content: " ";
} */


.contact-form-content {
    padding: 15px 0;
    height: 900px;
}
.contact-form-pane {
    height: auto;
    justify-content: center;
    gap: 3vw;
    flex-wrap: wrap;
    width: 100vw;
}
.contact-form-col {
    flex-basis: 35%;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}
.contact-form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.contact-form-group {
    margin-bottom: 1rem;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}



*::after {
    box-sizing: border-box;
  }
.form-control {
    border: none;
    background: #f3f3f3; 
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}
textarea.form-control {
    height: auto;
}

.img-form {
    width: 100%;
}

.heading {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}
.contact-form-col p {
    margin-bottom: 1rem;
}

.form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #000;
    background: #f3f3f3; 
}

.col-form-label {
    color: #000; 
}

.btn, .form-control, .custom-select {
    height: 50px; 
}

.custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; 
}


.btn {
    border: none;
    border-radius: 4px !important; 
}
.btn.btn-primary {
    background: #000;
    color: #fff;
    padding: 15px 20px;
}

.btn:hover {
    color: #fff;
}

.btn:active,
.btn:focus {
    outline: none;
    box-shadow: none;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
label.error {
    font-size: 12px;
    color: red; 
}

#message {
    resize: vertical;
}

#form-message-warning, #form-message-success {
    display: none; 
}

#form-message-warning {
    color: #B90B0B; 
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
    font-weight: bold; 
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #000; 
}